@(message: String)

@main("Create Geocach") {
    <head>
        <title>Geocach Portal</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/styles.css")' >
    </head>
<body>
    <div id="fixedheader">

        <h1><img src='@routes.Assets.versioned("images/Logo.png")' style="width:60px;height:30px;">eocach portal</h1>
    </div>

    <div id="maincontent">
    <form action = "@routes.Application.addGeocach" method = "post">
        <div id="fieldSet">
            <fieldset>
                <p>Name: <input name = "name" type = "text"></p>

                <p>Description:  <input name = "description" type = "text"></p>

                <p>Address: <input name = "address" type = "text"></p>

                <p>Lattitude: <input name = "lat" type = "text"></p>

                <p>Longtitude: <input name = "long" type = "text"></p>

                <p>Radius: <input name = "radius" type ="number"></p>

                <button>Add geocach</button>
                </fieldset>
        </div>
        </form>
    </div>
    <div id="fixedfooter">Piotr Maciejewski 2015 - <a href=@routes.Application.index>Main page</a></div>
</body>
}
